
{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
set classes = [
'node',
'node--type-' ~ node.bundle|clean_class,
node.isPromoted() ? 'node--promoted',
node.isSticky() ? 'node--sticky',
not node.isPublished() ? 'node--unpublished',
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>

    {{ title_prefix }}
    {% if not page %}
        <h2{{ title_attributes }}>
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
    {% endif %}
    {{ title_suffix }}

    {% if display_submitted %}
        <footer class="node__meta">
            {{ author_picture }}
            <div{{ author_attributes.addClass('node__submitted') }}>
                {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
                {{ metadata }}
            </div>
        </footer>
    {% endif %}



    <div class="acordion-lateral">
        <div class="acordion-lateral-iz">
            {{ sub_menu}}
        </div>
        <div class="acordion-lateral-de">
            <section>
                <div class="pregrado-administracion-content ">
                    {{ content.body }}
                </div>


                <div class="pregrado-administracion ">

                    <div class="acordion-info">
                        {% if content.field_acordion_titulo_1|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_1 }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_1 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_acor|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acor }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_2 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_acordion_titulo_|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_ }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_3 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_a|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_a }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_4 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_acordion_titulo_5|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_5 }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_5 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {{ content.field_body_2 }}
                        {% if content.field_acordion_titulo_6|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_6 }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_6 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_acordion_titulo_7|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_7 }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_7 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_acordion_titulo_8|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_8 }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_8 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_acordion_titulo_9|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_9 }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_9 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {{ content.field_body_3 }}
                        {% if content.field_ac|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_ac }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_10 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_acordion_titulo_11|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_11 }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_11 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_acordion_titulo_12|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_12 }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_12 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_acordion_titulo_13|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_13 }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_13 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_acordion_titulo_14|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_14 }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_14 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {{ content.field_body_ }}
                        {% if content.field_acordion_titulo_15|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_15 }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_15 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_acordion_titulo_16|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_16 }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_16 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_acordion_titulo_17|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_17 }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_17 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_acordion_titulo_18|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_18 }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_18 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_acordion_titulo_19|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_19 }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_19 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_acordion_titulo_20|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_20 }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_20 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {{ content.field_body_5 }}
                        {% if content.field_acordion_titulo_21|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_21 }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_21 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_acordion_titulo_22|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_22 }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_22 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_acordion_titulo_23|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_23 }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_23 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_acordion_titulo_24|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_24 }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_24 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_acordion_titulo_25|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_25 }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_25 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_acordion_titulo_25_1|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_25_1 }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_25_1 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_acordion_titulo_25_2|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_25_2 }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_25_2 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_acordion_titulo_25_3|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_25_3 }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_25_3 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_acordion_titulo_25_4|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_25_4 }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_25_4 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_acordion_titulo_25_5|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_25_5 }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_25_5 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                       {{ content.field_body_6 }}
                        {% if content.field_acordion_titulo_26|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_26 }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_26 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_acordion_titulo_27|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_27 }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_27 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_acordion_titulo_28|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_28 }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_28 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_acordion_titulo_29|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_29 }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_29 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        {% if content.field_acordion_titulo_30|render is not empty %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title ">
                                            <a data-toggle="collapse" data-parent="#accordion" >{{ content.field_acordion_titulo_30 }} <span class="icon-down-dir"></span></a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ content.field_acordion_cuerpo_30 }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                   


                    </div>

                </div>
                <div class="preuniversitario-botton" style="   width: 100%;margin-top: 15px;">
                    {{ pregrado_contenido_3 }}

                </div>
            </section>
        </div>
        
    </div>




</article>