<footer>
    <div class="chat">
        <img src="/themes/custom/fucs/images/chat.png" alt="">
        <h4>CHAT</h4>
    </div>
    <div class="firts-footer">
        <div class="laboratorios sedes " style="display: none">
            <div class="wrapper">
                {{ page.laboratories }}
            </div>
        </div>
        <div class="laboratorios " style="display: none">
            <div class="wrapper">
                {{ page.laboratories }}
            </div>
        </div>
        <div class="laboratorios auditorios" style="display: none">
            <div class="wrapper">
                {{ page.laboratories }}
            </div>
        </div>
        {{ page.first_footer }}
    </div>

    <div class="second-footer">
        {{ page.second_footer }}
    </div>
</footer>
