
<div class="egresados-contenidos row" >
    <div class="wrapper">
        <div class="content-egresados">
            <div class="egresados-menu-contenido">
                {{ page.egresados_contenido_1 }}
                {{ page.egresados_contenido_2 }}
            </div>

            <div class="egresados-eventos">
                <section>


                </section>
                <div class="news">
                    <div class="">
                        <div class="tabs">
                            <a class="active menu-noticias">NOTICIAS</a>
                            <a class=" menu-eventos">EVENTOS</a>
                        </div>
                        <div class="eventos noticias sub-noticias">
                            {{ page.news }}
                        </div>
                        <div class="sub-eventos sub-seccion" style="display: none">
                            <div class="col-xs-6 calendar-content" >
                                {{ page.calendar }}
                            </div>
                            <div class="col-xs-6 eventos " >
                                {{ page.events }}
                            </div>
                        </div>

                    </div>
                </div>




            </div>
        </div>
    </div>
</div>