
<div class="continuada-contenidos internacionalizacion-contenidos row" >
    <div class="wrapper">
        <div class="content-continuada">
            <div class="continuada-menu-contenido">
                {{ page.sub_menu }}
                <a href="" class="virtual">
                    <img src="/themes/custom/fucs/images/internacionalizacion/virtual.png" alt="">
                </a>
            </div>

            <div class="continuada-eventos">
                <section>

                </section>
                <div class="news">
                    <div class="">
                        <div class="tabs">
                            <a class="active menu-noticias">NOTICIAS</a>
                            <a class=" menu-eventos">EVENTOS</a>
                            <a class="menu-videos">VIDEOS</a>
                        </div>
                        <div class="eventos noticias sub-noticias">
                            {{ page.news }}
                        </div>
                        <div class="sub-eventos sub-seccion" style="display: none">
                            <div class="col-xs-6 calendar-content" >
                                {{ page.calendar }}
                            </div>
                            <div class="col-xs-6 eventos " >
                                {{ page.events }}
                            </div>
                        </div>

                        <div class="sub-videos sub-seccion" style="display:none;">
                            {{ page.video }}
                        </div>

                    </div>
                </div>

                <div class="seccion-3">
                    <div class="two">
                        <div class="two-content">
                            {{ page.form_linea }}
                        </div>
                    </div>
                    <div class="two">
                        <div class="two-content blog  ">
                            <p>
                                <img alt="" src="/themes/custom/fucs/images/internacionalizacion/blog_icon.png">
                                BLOG
                            </p>
                            {{ page.blog }}
                        </div>
                    </div>
                </div>

                <div class="testimonios">
                    <div class="testimonio-slider">
                        <span class="left"></span>
                        <span class="right"></span>
                        <ul class="testimonio-content">
                            <li>
                                <img src="/themes/custom/fucs/images/internacionalizacion/testimonio_1.png" />
                                <div class="name">
                                    <h3>Johan Alexander Sossa </h3>
                                    <p>Estudiante: 6 semestre.</p>
                                </div>
                                <article>
                                    “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi finibus sum dolor sit amet,consectetur adipiscing elit. Morbi finibu. Lorem ipsum dolor sit amet..
                                </article>
                                <a href="" class="more">VER MÁS</a>
                            </li>

                        </ul>
                        <ul class="testimonio-content">
                            <li>
                                <img src="/themes/custom/fucs/images/internacionalizacion/testimonio_1.png" />
                                <div class="name">
                                    <h3>Johan Alexander Sossa 2</h3>
                                    <p>Estudiante: 6 semestre.</p>
                                </div>
                                <article>
                                    “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi finibus sum dolor sit amet,consectetur adipiscing elit. Morbi finibu. Lorem ipsum dolor sit amet..
                                </article>
                                <a href="" class="more">VER MÁS</a>
                            </li>

                        </ul>
                        <ul class="testimonio-content">
                            <li>
                                <img src="/themes/custom/fucs/images/internacionalizacion/testimonio_1.png" />
                                <div class="name">
                                    <h3>Johan Alexander Sossa 3</h3>
                                    <p>Estudiante: 6 semestre.</p>
                                </div>
                                <article>
                                    “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi finibus sum dolor sit amet,consectetur adipiscing elit. Morbi finibu. Lorem ipsum dolor sit amet..
                                </article>
                                <a href="" class="more">VER MÁS</a>
                            </li>

                        </ul>
                    </div>
                </div>

                {{ page.sub_contenido_2 }}


            </div>
        </div>
    </div>
</div>

