
<div class="continuada-contenidos pregrado-contenidos row" >
    <div class="wrapper">
        <div class="content-continuada">
            <div class="continuada-menu-contenido">
                {{ page.sub_menu }}
                {{ page.pregrado_link }}

            </div>

            <div class="continuada-eventos">
                <div class="pregrado-administracion">
                        {{ page.pregrado_contenido_0 }}
                    <div class="content-pregrado-administracion">
                        {{ page.pregrado_contenido_1 }}
                    </div>

                    {{ page.pregrado_contenido_2 }}
                    <div class="preuniversitario-botton" style="display:none">
                        {{ page.pregrado_contenido_3 }}
                    </div>
                    


                </div>

            </div>
        </div>
    </div>
</div>

